

		body.is-loading *, body.is-loading *:before, body.is-loading *:after {
	-moz-animation: none !important;
	-webkit-animation: none !important;
	-ms-animation: none !important;
	animation: none !important;
	-moz-transition: none !important;
	-webkit-transition: none !important;
	-ms-transition: none !important;
	transition: none !important;
		}

	#banner {
	
		background-image: url("../../images/banner.jpg");
		background-position: center;
		background-size: cover;
		min-height: 100vh;
		height: 100vh !important;
		
		}

	

	
	#banner:before {
		
			transition: opacity 3s;
			-webkit-transition-delay: 1.25s;		
			transition-delay: 1.25s;
		content: '';
			background-color: #000;
			height: 100%;
			left: 0;
			opacity: 0.65;
		position: absolute;
			top: 0;
		width: 100%;
		
		}

		body.is-loading #banner:before {
			opacity: 1;
		}
